<div class="container-default">

  <div class="center main-background green lighten-5">
    <h3 class="fancy">스타트업 <span class="black-text two-weeks">2주</span>만에 만들기 </h3>
    <p class="lead">
      CODINGO는 성공한 스타트업들을 직접 만들면서 배우는 코딩교육입니다. 
      <br>아무런 프로그래밍 지식 없이 누구나 본인의 아이디어를 직접 실현할 수 있습니다.
    </p>
    <a ui-sref="registration" class="btn btn-large blue" ng-hide="logged">FREE 계정 만들기</a>
  </div>

<br>
  <div class="row">
    <div class="col s12 m6 l4 " ng-repeat="lesson in lessons">
      <a ui-sref="lessonDetail({lessonId: '{{lesson._id}}'})">
        <div class="card hoverable lesson-card" >
            <div class="card-image">
              <img src="{{lesson.main_img}}" alt="lesson image">
            </div>    
            <div class="card-content">
              <span class="card-title grey-text text-darken-4">{{lesson.title}}</span>
              <p class="grey-text text-darken-2">{{lesson.description}}</p>
              <button class="lesson-price grey lighten-2 blue-text text-darken-2" ng-if="!lesson.premium">FREE</button>
              <button class="lesson-price blue lighten-1 white-text" ng-if="lesson.premium" tooltipped data-position="top" data-delay="30" data-tooltip="Pro 회원만 시청이 가능합니다">PRO</button>
              <p class="lesson-level blue-text lighten-1">{{lesson.level}}</p>
            </div>
        </div>
      </a>
    </div>
  </div>
</div>

