.main-background {
  margin-top: 30px;
  padding: 54px 20px 10px 30px;
  height: 320px;
}
nav .button-collapse i{
  padding-left: 10px;
}
.card-title-text {
  font-size: 18px;
}
.two-weeks {
  font-size: 42px;
}
.lesson-card {
  min-height: 420px;
}
.lesson-nav {
  z-index: 99;
  position: absolute;
  width: 300px;
  height: 90.3%;
  overflow-y: auto;
  padding-bottom: 20px; 
  margin-top: 0;
}
.lesson-level {
  float: left;
  bottom: 18px;
  position: absolute;
  font-size: 16px;
}
.video-section {
  padding-left: 300px;
  display: block;
}
.container-video {
  padding-left: 15px;
  padding-right: 15px;
}
.lesson-price{
  width: 70px;
  height: 40px;
  border-radius: 5px;
  border: none;
  margin-top: 8px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.collection .collection-item.avatar .play-title:hover {
  color: #01579b;
}
.collection .collection-item.avatar i.circle{
  /*light blue*/
  background-color: #039be5;
}
.collection .collection-item.avatar i.circle:hover {
  /*dark blue*/
  background-color: #01579b;
  color: #000;
}
.card .card-action.video-controller{
  padding: 10px 40px 6px 64px;
  height: 106px;
}
.card .card-content .video-title {
  padding: 0px 0px 10px 0px;
  line-height: 35px;
}
.card .card-content .video-description {
  padding: 10px 0 0 0;
}
i.video-skips {
  color: white;
  text-shadow: 1px 1px 1px #999;
}
i.video-skips:hover {
  color: #ffa000;
}
.iframe-video {
  width: 100%;
  min-height: 400px;
}

/*Comment Area*/
.comment-add {
  min-height: 150px;
  background-color: #eee; 
  border-radius: 10px;
  padding: 30px 20px;
}


@media (max-width: 767px){
  .lesson-nav {
    left: -300px;
  }
  .video-section {
    padding-left: 0;
  }
  .main-background {
    padding-top: 20px;
  }
}