<div class="container center height400 pad-top">

  <h4 class="center grey-text text-darken-2 page-title green lighten-5">코딩고란?</h4> 
  
  <div class="row grey-text text-darken-2" >

    <p class="left-align col m10 offset-m1">
      CODINGO는 세계적인 스타트업 어플리케이션들을 직접 만들면서 컴퓨터 프로그래밍(코딩)을 배우는 영상 교육 서비스입니다. 단순히 프로그래밍 언어만 배우는 것이 아니라, 직접 실행할 수 있는 어플리케이션을 만들면서 배움으로 누구나 재밌고 유익하게 코딩을 배울 수 있습니다. CODINGO에서 사용하는 기술들은 Angularjs, ReactJS, Ruby on Rails와 같이 현재 세계적으로 가장 각광받는 기술들을 사용하므로 초보자부터 전문가까지 배울 수 있습니다.
    </p> 
    <div class="{{item.classInfo}}" ng-repeat="item in aboutInfo">
      <div class="about-info">
        <i class="material-icons small icon-info">{{item.icon}}</i>
        <div class="subtitle-info">{{item.subTitle}}</div>
        <ul class="left-align margin-none space-sm" ng-repeat="detail in item.info">
          <li class="space-sm detail-info">{{detail}}</li>
        </ul>
      </div>
    </div>  
  </div>
  
  <p class="grey-text text-darken-2 punchline">코딩고는 어느 누구나 아이디어를 스타트업으로 실현하는 것을 목표로 하고 있습니다.</p> 
</div>

<script>
    $(document).ready(function(){
    $('.collapsible').collapsible({
      accordion : false // A setting that changes the collapsible behavior to expandable instead of the default accordion style
    });
  });
        
</script>
