.info-text {
  height: 95px;
  padding-top: 28px;
}
.about-info{
  min-height: 220px;
}
.space-sm {
  padding: 6px;
}
.icon-done-sz {
  font-size: 1.3em;
  padding-top: 2px;
}
.page-title {
  display: block;
  width: 100%;
  padding: 56px 20px 10px 20px;
  height: 150px;
  margin: 30px 0;
}
.second-title-accordion {
  height: 50px;
  text-align: left;
  padding: 13px 20px 0 20px;
  margin: 0;
  font-size: 1.1em;
}