.center {
  text-align: center;
  margin: 0 auto;
}
.height600 {
  min-height: 600px;
}
.full-width {
  width: 100%;
  display: block;
}
.absolute {
  position: absolute;
}
.width400 {
  max-width: 400px;
}
.text-right {
  float: right;
}
.container-default {
  margin: 0 auto;
  max-width: 1280px;
  width: 80%;
}