.active {
  color: green;
  font-size: 1.2em;
}
.font-mid {
  font-size: 0.7em;
}
.pw-section {
  height: 166px;
  margin-bottom: 25px;
}
.email-section {
  height: 166px;
}
.email-header {
  font-size: 0.8em;
}
.email-detail {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-top: 10px;
}
.cp-section {
  height: 180px;
  margin-bottom: 25px;
  border-radius: 10px;
}
.small-note {
  font-size: 0.9em;
  padding-left: 25px;
  color: #999;
}
.unsubscribe-btn {
  margin :40px;
}
.delete-user-info {
  font-size: 0.8em;
  margin: 30px 10px 30px 10px;
}