<footer class="page-footer blue-grey darken-3 white-text wrap">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CODINGO</h5>
        <p class="grey-text text-lighten-4">누구나 좋은 아이디어를 실행할 수 있게 스타트업 코딩을 배울 수 있는 서비스입니다. Made with <span><i class="fa fa-heart" aria-hidden="true"></i></span>.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">일반정보</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" ui-sref="about">이용안내</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="faq">자주하는 질문 </a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="contact">연락처</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="policies">개인정보 취급</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Codingo
    <a class="grey-text text-lighten-4 right fa-icons" href="https://twitter.com/codingo_co"><i class="fa fa-twitter fa-lg"></i></a>
 <!--    <a class="grey-text text-lighten-4 right fa-icons" href="https://www.facebook.com/profile.php?id=100011461851778"><i class="fa fa-facebook fa-lg"></i></a> -->
    </div>
  </div>
</footer>