<footer class="page-footer blue-grey darken-3 white-text wrap left-align">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">CODINGO</h5>
        <p class="grey-text text-lighten-4">누구나 좋은 아이디어를 실행할 수 있게 스타트업 코딩을 배울 수 있는 서비스입니다. Made with <span><i class="fa fa-heart" aria-hidden="true"></i></span>.</p>
        <br>

        <!-- MAIL CHIMP SUBSCRIPTION -->
        <form action="//gafrong.us6.list-manage.com/subscribe/post?u=3a5b26532c&amp;id=274587117d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate subscribe-email" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll" >
              <label for="mce-EMAIL" class="subscription-email-title">코딩고 뉴스레터에 구독하세요</label>
              <input type="email" value="" name="EMAIL" class="email email-placeholder" id="mce-EMAIL" placeholder="이메일을 입력하세요" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true">
                <input type="text" name="b_3a5b26532c_274587117d" tabindex="-1" value="">
              </div>
              <div class="clear subscribe-btn">
                <input type="submit" value="구독 신청" name="subscribe" id="mc-embedded-subscribe" class="btn waves-effect waves-light subscribe-btn">
              </div>
            </div>
        </form>  
        <br>      
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">일반정보</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" ui-sref="about">이용안내</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="faq">자주하는 질문 </a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="contact">연락처</a></li>
          <li><a class="grey-text text-lighten-3" ui-sref="policies">개인정보 취급</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Copyright Codingo
    <a class="grey-text text-lighten-4 right fa-icons" href="https://twitter.com/codingo_co"><i class="fa fa-twitter fa-lg"></i></a>
 <!--    <a class="grey-text text-lighten-4 right fa-icons" href="https://www.facebook.com/profile.php?id=100011461851778"><i class="fa fa-facebook fa-lg"></i></a> -->
    </div>
  </div>
</footer>