<div class="width400 center signup-area" ng-hide="logged">
  <div class="row" >
    <form class="col s12" id="loginForm">
      <div class="row">
        <div class="input-field col s12">
          <input id="email" type="email" ng-pattern="EMAIL" class="validate" ng-model="login.email">
          <label for="email">이메일 </label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="password" type="password" class="validate" ng-model="login.password">
          <label for="password">비밀번호 </label>
        </div>
      </div> 
      <p class="red-text">{{error}}</p>
      <button ng-click="login(login)" class="btn btn-large blue center" ng-disabled="spinner">로그인</button>   
    </form>
  </div>
  <a ui-sref="password">비밀번호 재설정하기</a>
</div>