<div class="container">
  <h4 class="center grey-text page-title">비밀번호 찾기</h4>
  <div class="width400 center signup-area">
    <div class="row" >
      <form class="col s12" id="loginForm">

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="reset.email">
            <label for="email">이메일 주소</label>
          </div>
        </div> 
        <div class="row">
          <div class="input-field col s12">
            <input id="new_password" type="password" class="validate" ng-model="reset.password">
            <label for="new_password">새로운 비밀번호</label>
          </div>
        </div>         
        <p class="red-text" ng-if="error">{{error}}</p>
        <button ng-click="sendEmail(reset)" class="btn btn-large blue center" ng-disabled="spinner">이메일 보내기</button>   
      </form>
    </div>
  </div>
</div>

<!-- spinner  -->
<img src="./ng-app/assets/images/spinner-green.gif" alt="spinner"class="spinner" ng-if="spinner"> 