<div class="container">
  <h4 class="center grey-text page-title">비밀번호 찾기</h4>
  <div class="width400 center signup-area">
    <div class="row" >
      <form class="col s12" id="loginForm">

        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" class="validate" ng-model="email">
            <label for="email">이메일 주소</label>
          </div>
        </div> 
        <button ng-click="sendEmail()" class="btn btn-large blue center">이메일 보내기</button>   
      </form>
    </div>
  </div>
</div>
