<nav class="navbar white-text">
  <div class="nav-wrapper">
    <a ui-sref="home" class="brand-logo"><i class="fa fa-video-camera"></i> CODINGO</a>
    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
    
    <ul class="right ">
      <!-- <li class="hide-on-med-and-down" ng-hide="logged"><a href="#videoTrigger" class="video-trigger" modal><span class="why"></span><i class="fa fa-video-camera youtube-main"></i></a></li> -->
      <li class="hide-on-med-and-down"><a ui-sref="about">코딩고란?</a></li>  
      <li class="hide-on-med-and-down" ng-hide="subscribed"><a ui-sref="pricing">가격표</a></li>
      <li ng-if="!logged" class="hide-on-small-and-down"><a ui-sref="registration">회원가입</a></li>
      <li ng-if="!logged"><a ui-sref="login" class="login-btn">로그인</a></li>
      <li ng-if="logged" class="hidden" ng-class="{visible: !user.subscribed}"><a ui-sref="subscriptions" class="btn blue accent-1 hide-on-small-and-down"><span class="black-text">PRO</span> 회원가입</a></li>
      <!-- user logo menu -->
      <li ng-hide="!logged"><a class='profile-img-frame chip' data-activates='dropdown1' ui-sref="profile"><span class="chip-pro" ng-if="user.subscribed">Pro</span><img src="{{picture}}" alt="" class="profile-img"></a></li> 
      <li class="hide-on-med-and-down" ng-if="logged" ng-click="logout()"><a>로그아웃</a></li>
    </ul>

    <!-- Mobile menu -->
    <ul class="side-nav" id="mobile-demo">
      <li class="" ng-if="!logged"><a ui-sref="registration">회원가입</a></li>
      <li class="" ng-if="!logged"><a ui-sref="login">로그인</a></li>
      <li class=""><a ui-sref="about">코딩고란?</a></li>  
      <li class=""><a ui-sref="pricing">가격표</a></li>
      <li class="" ng-if="logged" ng-click="logout()"><a>로그아웃</a></li>
    </ul>
  </div>

  <!-- spinner  -->
  <img src="./ng-app/assets/images/spinner-green.gif" alt="spinner"class="spinner" ng-if="spinner">    
</nav>

<script>
    // Initialize collapse button
  $(".button-collapse").sideNav({
    closeOnClick: true,
    menuWidth: 280
  });
</script>