<div class="container">
  <div class="width400 center">
    <h4 class="center grey-text page-title">Sign Up</h4>
    <div class="row">
      <form class="col s12" id="signupForm">
        <div class="row">
          <div class="input-field col s12">
            <input placeholder="" id="first_name" type="text" class="validate" ng-model="displayName" required>
            <label for="first_name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="signupData.email" required>
            <label for="email">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" ng-model="signupData.password" required>
            <label for="password">Password</label>
          </div>
        </div>
        
        <button type="submit" class="btn center" ng-click="signup(signupData)">Sign Up</button>
      </form>
    </div>
  </div>
</div>